/* Add your CSS styles for the accordion header and content here */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

.main-container {
  display: flex;
  gap: 10px;
  margin-top: 32px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  max-height: 1128px;
  overflow-y: scroll;
}

.info-container,
.education-container,
.practical-exp-container,
.skills-container,
.certificates-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.education-container li,
.practical-exp-container li,
.skills-container li,
.certificates-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 10px 0;
}

label {
  text-align: left;
}

button {
  align-self: center;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

li {
  list-style-type: none;
}

#logo {
  width: 100px;
}

.template-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* Input Styles */
input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease-in-out;
}

textarea {
  min-width: 100%;
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #007bff;
  outline: none;
}